<div id="conversations" class="row">	
	<div class="panel panel-primary" style="padding-right: 0;padding-left: 0" id="conversation_<%=conversation.id%>">
	  <div class="panel-heading">
	  	<%=receiver.name%>
	  </div>
	  <div class="panel-body" id="content">
	  	<% conversation.messages.each do |mess|%>
	  		<%if mess.user==sender%>
	  			<div class="sender_body"><%=simple_format(mess.body)%></div>
	  		<%else%>
	  			<div class="reciever_body"><%=simple_format(mess.body)%></div>
	  		<%end%>
	  	<% end %>
	  </div>
	  <div class="panel-footer">
	  	<%=form_for Message.new,remote: true do |f|%>	  		
	  		<%=f.hidden_field :user_id,value: sender.id%>
	  		<%=f.hidden_field :conversation_id,value: conversation.id%>
	  		<%=f.text_area :body%>
	  		<%=f.submit 'é€',class: "btn btn-success"%>
	  	<%end%>
	  </div>
	</div>
</div>
