<tr>
    <td><%= link_to store.name, store %></td>
    <td><%= store.address %></td>
    <td><%= store.foods.count %></td>
    <td><div class="btn btn-success edit-store" data-name="<%= store.name %>" data-address="<%= store.address %>" data-id="<%= store.id %>" data-toggle="modal" data-target="#myModal">Edit</td>
    <td>
        <div class="setting">
            <div class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <b class="glyphicon glyphicon-remove"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><%= link_to "Delete store", store_path(id: store.id), method: :delete, remote: true %></li>
                </ul>
            </div>
        </div>
    </td>
</tr>
