<div id="login-box">
    <div class="left-block">
        <h1>Sign up</h1>
        <%= form_for(@user, url: signup_path) do |f| %>
            <% if @user.errors[:name].length != 0 %>
                <div class="error-messages"><%= @user.errors[:name][0] %></div>
            <% end %>
            <%= f.text_field :name, placeholder: "Nobita Team", class: "form-control" %>

            <% if @user.errors[:email].length != 0 %>
                <div class="error-messages"><%= @user.errors[:email][0] %></div>
            <% end %>
            <%= f.email_field :email, placeholder: "nobita@gmail.com", class: "form-control" %>

            <% if @user.errors[:password].length != 0 %>
                <div class="error-messages"><%= @user.errors[:password][0] %></div>
            <% end %>
            <%= f.password_field :password, placeholder: "Password", class: "form-control" %>

            <% if @user.errors[:password_confirmation].length != 0 %>
                <div class="error-messages"><%= @user.errors[:password_confirmation][0] %></div>
            <% end %>
            <%= f.password_field :password_confirmation, placeholder: "Password Confirmation", class: "form-control" %>
            <br>
            <%= f.submit "Sign up !" %>
        <% end %>
        <br>
        <p>Already had account? <%= link_to "Sign In", login_path %></p>
    </div>
    <div class="right-block">

    </div>
</div>
