<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-9">
    <div class="event-item wow fadeInRight">
        <h4 class="show tip-left"><%= review.created_at %></h4>
        <div class="well padding5 owner-clear">
            <div class="media">
                <% if logged_in? && current_user.id == review.user.id%>

                    <div class="setting-s">
                        <div class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <b class="glyphicon glyphicon-remove"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="edit-review" key="<%= review.id %>" data-toggle="modal" data-target="#editReviewModal<%= review.id %>">エディット</a></li>
                                <li><%= link_to "デリート", review_path(id: review.id), method: :delete, class: "delete-review" %></li>
                            </ul>
                        </div>
                    </div>
                <% end %>
                <div class="media-left">
                    <% if (review.user.avatar?) %>
                    <a href="/users/<%= review.user.id %>">
                        <img src="<%= review.user.avatar %>" class="media-object w-70-h-70" alt="library">
                    </a>
                    <%  else %>
                        <a href="/users/<%= review.user.id %>">
                            <%= image_tag review.user.avatar.default_url("avatar_default.jpg"), class: "media-object w-70-h-70"%>
                        </a>
                    <% end %>
                </div>
                <div class="media-body">
                    <a href="/users/<%= review.user.id %>">
                        <h4 class="media-heading list-inline list-unstyled rating-star">
                            <%= review.user.name %>
                            <% for i in 0..review.point-1 %>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <% end %>
                        </h4>
                    </a>

                    <p class="content-review"><%= review.content %></p>
                </div>
            </div>
        </div>
    </div>
</div>
