<% provide(:title, @food.name) %>
<section class="relative fix gray-bg">
    <div class="container">
        <div class="space-30"></div>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">
                <h2 class="text-primary"><%= @food.name %></h2>
                <div class="space-10"></div>
                <div class="title-bar blue">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6">

                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>

                  <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <% if (@food.food_pictures.length !=0) %>
                            <% @food.food_pictures.each_with_index do |picture, index| %>
                                <% if index == 0 %>
                                    <div class="item active">
                                        <%= image_tag picture.picture.url, class: 'food-image-detail' %>
                                    </div>
                                <% else %>
                                    <div class="item">
                                        <%= image_tag picture.picture.url, class: 'food-image-detail' %>
                                    </div>
                                <% end %>
                            <% end %>
                        <% else %>
                            <div class="item active">
                                <img src="/assets/default-food.png" class="food-cover" class= 'food-image-detail'>
                            </div>
                            <div class="item">
                                <img src="/assets/default-food.png" class="food-cover" class= 'food-image-detail'>
                            </div>
                        <% end %>
                    </div>
                </div>

                  <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>

            </div>
            <div class="col-xs-12 pull-right col-md-6 padding60 wow fadeInRight">
                <div class="book-content">
                    <div class="book-details-item">
                        <h4 class="text-success">食べ物の名前: </h4>
                        <p class="lead text-primary"><%= @food.name %></p>
                        <h4 class="tip-left">価格: <span class="price"><%= @food.price %>円</span></h4>
                        <h4 class="">レストラン: <span class="lead text-primary"><%= link_to @food.store.name, @food.store %></span></h4>
                        <h4 class="">説明: </h4>
                        <h5 class="lead text-primary"><%= @food.description %></h5>
                        <div class="">
                            <% if @food.reviews.count != 0 %>
                            <input id="point-ave" name="input-3" value="<%= @food.reviews.sum(:point)/(@food.reviews.count*1.0) %>" class="rating-loading">
                            <div class="rate-avar"><%= (@food.reviews.sum(:point)*1.0/(@food.reviews.count)).round(2) %>
                                <span class="number-people"><%= @food.reviews.count %>人投票された</span>
                            </div>

                            <% else %>
                                <input class="point-aven"  value="0" class="rating-loading"><div class="rate-avar">0.00</div>
                                <span class="number-people">0人投票された</span>
                            <% end %>
                        </div>

                        <div id="rate-show-hotel">
                            <div id="rate-detail-hotel">
                                <ul>
                                    <% if @food.reviews.count != 0 %>
                                        <li>
                                            <span class="margin-right5"> 5 </span>
                                            <i class="fa fa-star" aria-hidden="true"></i>

                                            <% if @rate_five == 0 %>
                                                <div class="bar bar-5";>
                                                    <p>0</p>
                                                </div>
                                              <% else %>
                                                <div class="bar bar-5" style="width: <%= @rate_five/(@food.reviews.count*1.0)*80 %>%;">
                                                  <p><%= @rate_five %></p>
                                                </div>
                                              <% end %>
                                            <div class="clearfix"></div>
                                        </li>
                                        <li>
                                            <span class="margin-right5"> 4 </span>
                                            <i class="fa fa-star" aria-hidden="true"></i>

                                            <% if @rate_four == 0 %>
                                                <div class="bar bar-4";>
                                                    <p>0</p>
                                                </div>
                                              <% else %>
                                                <div class="bar bar-4" style="width: <%= @rate_four/(@food.reviews.count*1.0)*80 %>%;">
                                                  <p><%= @rate_four %></p>
                                                </div>
                                              <% end %>
                                            <div class="clearfix"></div>
                                        </li>
                                        <li>
                                            <span class="margin-right5"> 3 </span>
                                            <i class="fa fa-star" aria-hidden="true"></i>

                                            <% if @rate_three ==0 %>
                                                <div class="bar bar-3";>
                                                    <p>0</p>
                                                </div>
                                              <% else %>
                                                <div class="bar bar-3" style="width: <%= @rate_three/(@food.reviews.count*1.0)*80 %>%;">
                                                  <p><%= @rate_three %></p>
                                                </div>
                                              <% end %>
                                            <div class="clearfix"></div>
                                        </li>
                                        <li>
                                            <span class="margin-right5"> 2 </span>
                                            <i class="fa fa-star" aria-hidden="true"></i>

                                            <% if @rate_two ==0 %>
                                                <div class="bar bar-2";>
                                                    <p>0</p>
                                                </div>
                                              <% else %>
                                                <div class="bar bar-2" style="width: <%= @rate_two/(@food.reviews.count*1.0)*80 %>%;">
                                                  <p><%= @rate_two %></p>
                                                </div>
                                              <% end %>
                                            <div class="clearfix"></div>
                                        </li>
                                        <li>
                                            <span class="margin-right5"> 1 </span>
                                            <i class="fa fa-star" aria-hidden="true"></i>

                                            <% if @rate_one ==0 %>
                                                <div class="bar bar-1";>
                                                    <p>0</p>
                                                </div>
                                              <% else %>
                                                <div class="bar bar-1" style="width: <%= @rate_one/(@food.reviews.count*1.0)*80 %>%;">
                                                  <p><%= @rate_one %></p>
                                                </div>
                                              <% end %>
                                            <div class="clearfix"></div>
                                        </li>
                                        <!-- <li>
                                            <span class="margin-right5"> 0 </span>
                                            <i class="fa fa-star" aria-hidden="true"></i>

                                            <% if @rate_zero == 0 %>
                                                <div class="bar bar-0">
                                                    <p>0</p>
                                                </div>
                                              <% else %>
                                                <div class="bar bar-0" style="width: <%= @rate_zero/(@food.reviews.count*1.0)*80 %>%;">
                                                  <p><%= @rate_zero %></p>
                                                </div>
                                              <% end %>
                                            <div class="clearfix"></div>
                                        </li> -->
                                    <% else %>
                                        <li>
                                            <span class="margin-right5"> 5 </span>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <div class="bar bar-5">
                                                <p>0</p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </li>
                                        <li>
                                            <span class="margin-right5"> 4 </span>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <div class="bar bar-4">
                                                <p>0</p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </li>
                                        <li>
                                            <span class="margin-right5"> 3 </span>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <div class="bar bar-3">
                                                <p>0</p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </li>
                                        <li>
                                            <span class="margin-right5"> 2 </span>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <div class="bar bar-2">
                                                <p>0</p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </li>
                                        <li>
                                            <span class="margin-right5"> 1 </span>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <div class="bar bar-1">
                                                <p>0</p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </li>
                                        <!-- <li>
                                            <span class="margin-right5"> 0 </span>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <div class="bar bar-0">
                                                <p>0</p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </li> -->
                                    <% end %>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="relative">
    <div class="container">
        <div class="row ">
            <%= render 'foods/reviews_form', food: @food %>
        </div>
        <div class="row event-list">
            <div class="reviews_list">
            </div>
            <%= render 'foods/reviews_list', food: @food %>

        </div>
    </div>
</section>

<script type="text/javascript">
    $('.edit-review').each(function (e) {
        $(this).on('click', function () {
            key = $(this).attr('key');
        });
    });
</script>
