<nav>
	<div class="nav-wrapper">
		<a href="/" class="brand-logo"><%= fa_icon "coffee" %> | ベトナムの料理</a>
		<%= form_tag search_path, method: "get", class: "foods-search form-group " do %>
			<%= text_field_tag :search, params[:search], class: "search-box search-form form-control", placeholder: "検索..." %>
		<% end %>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<% if logged_in? %>
                <li><%= link_to "私の店", my_store_path %></li>
                <li><a href="#portfolio-path" onclick="internal_link_click(this)">料理</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown" data-toggle="dropdown">
						<% if current_user.avatar? %>
							<%= image_tag current_user.avatar.url, id: "avatar-header" %>
						<% else %>
							<%= image_tag current_user.avatar.default_url("avatar_default.jpg"), id: "avatar-header" %>
						<% end %>
						<%= current_user.name %>
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu pull-right" style="width: 130px;">
						<li><%= link_to "プロフィール", edit_user_path(current_user) %></li>
						<li><%= link_to "ログアウト", logout_path, method: "delete" %></li>
					</ul>
				</li>
				<li class="dropdown" id="notifications">
					<% conversations=current_user.conversations.where(not_see_user_id: current_user.id)%>
					<a href="#" class="dropdown" data-toggle="dropdown">
						<%=conversations.size==0 ? nil : conversations.size%>												
					</a>
					<ul class="dropdown-menu pull-right" style="width: 200px;">
						<% conversations.each do |conv|%>
							<li id="<%=conv.id%>"><a><%= current_user.id==conv.user1_id ? conv.user2.try(:name) : conv.user1.try(:name) %></a></li>
						<% end %>	
					</ul>
				</li>
			<% else %>
					<li><a href="#portfolio-path" onclick="internal_link_click(this)">料理</a></li>
					<li><a href="/login">サインイン</a></li>
			<% end %>
		</ul>
	</div>
</nav>
